accelerate
peft
bitsandbytes
transformers
trl
datasets

faiss-cpu
langchain
python-dotenv
tiktoken
sentence_transformers
einops
ragas
wget
qdrant-client
jupyterlab
huggingfacehub
cdx_toolkit
matplotlib